
<div class="mainBlock">


    <div class="infCar">
    <!-- <img class="imga" [src]=" this.auth.avatarPath +'car.jpg'" alt="Аватар" > -->
    <img  class="imga"  [src]="this.lessorService.carFotoPath +this.autoService.carInf.foto" >
    <p class="price">{{this.autoService.carInf.price}} грн</p>
    <p class="modelBrand">{{this.autoService.carInf.brand}} {{this.autoService.carInf.model}}</p>
    </div>

<form  class="sendForm" [formGroup]="sendForm" (ngSubmit)="submit()">

      <input  class="form-control textForm" type="text" formControlName="message">

      <button class="btn btn-primary buttomForm"  (click)="submit()"
        [disabled]="sendForm.invalid||sendForm.disabled" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
          <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
        </svg></button>
    </form>


    <div class="messageBlock"  #messageList  [ngClass]="{ 'messageBlockChrome': this.mrouterService.thisBrowser && this.mrouterService.thisWindowWidth, 'messageBlock': !this.mrouterService.thisBrowser || !this.mrouterService.thisWindowWidth }">
      <!-- Контейнер, який буде прокручуватися. Додаємо шаблонну змінну #messageList -->
      <div *ngFor="let message of this.messagesService.MessageShow">
        <div  [ngClass]="{'messageCardRight': message.emailUser === this.autoService.carInf.userEmail, 'messageCard': message.emailUser !== this.autoService.carInf.userEmail}">
          <p class="userName">{{ message.name }}</p>
          <p class="txtMessage">{{ message.txt }}</p>
          <p class="dateMessage">{{ message.date }}</p>
        </div>
      </div>
    </div>









</div>

