.container
{
  width: 100%;
  height: 82vh;
  overflow: auto;
}

@media (max-width: 850px) {
  .containerChrome {
    width: 100%;
    height: 65vh;
    overflow: auto;
  }
}
.registerForm{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;

  padding: 2% 10%;
  border-radius: 8px;
  box-shadow: 3px 4px 5px rgb(2, 75, 145);
  font-weight: bolder;
  font-size: 20px;
  color: white;
  background-color: rgb(35, 40, 44);
}

.buttomForm
{  font-size: 20px;
  font-weight:bold;
}

.textForm
{
  font-size: 20px;
  box-shadow: inset 1px 1px 4px rgb(22, 22, 22);
}
.textForm:focus
{
  box-shadow: inset 1px 1px 15px rgb(42, 98, 201);
}
.error
{
  height: 18px;
  font-size: 15px;
  color: red;
}
